In [1]:
#Memanggil Library yang di perlukan
import pandas as pd
import numpy as np

In [2]:
#Membaca  data
data = pd.read_excel("Data_SMA_IPA.xlsx")
data.head(5)

,Nilai B.Indonesia,Nilai B.Inggris,Nilai Matematika,Nilai Kimia,Nilai Fisika,Nilai Biologi,Sertifikat,Akreditasi,Status
0,87.5,90.0,89.0,87.0,88.0,87.5,0,30,0
1,88.0,87.0,90.0,87.0,90.0,87.5,0,30,0
2,90.0,88.0,87.0,90.0,88.0,90.0,0,30,0
3,87.5,88.5,87.5,87.5,90.0,88.5,0,30,0
4,87.5,90.0,88.0,87.5,87.0,87.0,0,30,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nilai B.Indonesia  1028 non-null   float64
 1   Nilai B.Inggris    1028 non-null   float64
 2   Nilai Matematika   1028 non-null   float64
 3   Nilai Kimia        1028 non-null   float64
 4   Nilai Fisika       1028 non-null   float64
 5   Nilai Biologi      1028 non-null   float64
 6   Sertifikat         1028 non-null   int64
 7   Akreditasi         1028 non-null   int64
 8   Status             1028 non-null   int64
dtypes: float64(6), int64(3)
memory usage: 72.4 KB

In [4]:
#Menspresifikan Tipe Data nya apa? Integrer(int) atau Float(float)
df = data.astype(int)

In [5]:
#Memindahkan Status (Lolos/Tidak Lolos) Dari Variabel X ke Variabel Y
x= df.drop(["Status"], axis=1)
x.head(10)

,Nilai B.Indonesia,Nilai B.Inggris,Nilai Matematika,Nilai Kimia,Nilai Fisika,Nilai Biologi,Sertifikat,Akreditasi
0,87,90,89,87,88,87,0,30
1,88,87,90,87,90,87,0,30
2,90,88,87,90,88,90,0,30
3,87,88,87,87,90,88,0,30
4,87,90,88,87,87,87,0,30
5,90,87,90,87,87,90,10,30
6,87,87,88,90,87,87,10,30
7,87,87,90,88,87,87,10,30
8,88,88,87,87,88,88,10,30
9,90,88,87,90,87,90,10,30

In [6]:
y= df["Status"]
y.head(5)

0    0
1    0
2    0
3    0
4    0
Name: Status, dtype: int32

In [7]:
#Setelah X dan Y kita pisah
#Baru menggunakan Metode Naive Bayes dan memanggil Libarynya
from sklearn.naive_bayes import GaussianNB

In [8]:
# Memanggil Fungsi Gaussian Naive Bayes
# Membuat Variabel Baru namanya maung
maung = GaussianNB()

In [9]:
# Memasukkan Data Training pada fungsi Klasifikasi Naive Bayes
# membuat Variabel baru data training
data_training = maung.fit(x,y)

In [10]:
#Setelah Membuat Data Training 
# Langsung Melakukan Prediksi pada data Training

y_predict = data_training.predict(x)
print (y_predict)

[0 0 0 ... 1 1 1]

In [11]:
#Membuat Input Data untuk di prediksi
Nilai_BIndonesia = int(input("Silakan Isi Nilai Rata-Rata Rapot Nilai B.Indonesia : "))
Nilai_BInggris = int(input("Silakan Isi Nilai Rata-Rata Rapot Nilai B.Inggris : "))
Nilai_Matematika = int(input("Silakan Isi Nilai Rata-Rata Rapot Nilai Matematika : "))
Nilai_Kimia = int(input("Silakan Isi Nilai Rata-Rata Rapot Nilai Kimia : "))
Nilai_Fisika = int(input("Silakan Isi Nilai Rata-Rata Rapot Nilai Fisika : "))
Nilai_Biologi = int(input("Silakan Isi Nilai Rata-Rata Rapot Nilai Biologi : "))
Sertifikat = int(input("Silakan Isi Jenis Sertifikat : "))
Akreditasi_Sekolah = int(input("Silakan Isi Akreditasi Sekolahmu : "))
#Menggabungkan input data yang ingin diprediksi
data_testing = [[Nilai_BIndonesia, Nilai_BInggris, Nilai_Matematika, Nilai_Kimia, Nilai_Fisika, Nilai_Biologi, Sertifikat, Akreditasi_Sekolah]]

Silakan Isi Nilai Rata-Rata Rapot Nilai B.Indonesia : 90
Silakan Isi Nilai Rata-Rata Rapot Nilai B.Inggris : 90
Silakan Isi Nilai Rata-Rata Rapot Nilai Matematika : 90
Silakan Isi Nilai Rata-Rata Rapot Nilai Kimia : 90
Silakan Isi Nilai Rata-Rata Rapot Nilai Fisika : 90
Silakan Isi Nilai Rata-Rata Rapot Nilai Biologi : 90
Silakan Isi Jenis Sertifikat : 10
Silakan Isi Akreditasi Sekolahmu : 30

In [12]:
# Melakukan Prediksi Berdasarkan data input
y_pred = data_training.predict(data_testing)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [13]:
#Mencetak Hasil Prediksi Kelulusan Mahasiswa
# Hasil 0 -> Lulus
# Hasil 1 => Tidak Lulus

if y_pred == 0:
  hasil = "Lulus"

elif y_pred == 1:
  hasil = "Tidak Lulus"

else:
  hasil = "eror"

print("Prediksi Peluang Keperguruan Tinggi Yang Anda Impikan Adalah", hasil)

Prediksi Peluang Keperguruan Tinggi Yang Anda Impikan Adalah Lulus

In [14]:
#Menghitung Persentase Keakuratan Prediksi
from sklearn.metrics import accuracy_score
print("Nilai Akurasi Kebenaran Prediksi Program adalah = %0.2f%%"% accuracy_score(y,y_predict))

Nilai Akurasi Kebenaran Prediksi Program adalah = 0.74%

In [15]:
#Mencetak Laporan Hasil Klasifikasi
from sklearn.metrics import classification_report
print(classification_report(y,y_predict))

              precision    recall  f1-score   support

           0       0.73      0.96      0.83       668
           1       0.82      0.33      0.47       360

    accuracy                           0.74      1028
   macro avg       0.77      0.64      0.65      1028
weighted avg       0.76      0.74      0.70      1028

In [16]:
import joblib

filename = 'finalized_model.sav'
joblib.dump(data_training, filename)

['finalized_model.sav']